*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 60%;
    min-width: 400px;
    border-radius: 10px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.display{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    background: hsl(202, 11%, 29%);
    color: hsl(255, 100%, 100%);
    padding-inline-end: 0.75rem;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 500%;
    border: 1px;
    background: hsl(207, 19%, 61%);
}

button{
    height: 50px;
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items:center;
    border: none;
    background: hsl(210, 25%, 95%);
    font-size: 1.2rem;
    inline-size: 60px;
    block-size: 60px;

    
}

button:active,
button:focus{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
}

.operatorButton{
    background: hsl(208, 25%, 86%);
}

.operatorButton:active{
    background: hsl(208, 24%, 80%);
}

.equalKey{
    background: hsl(357, 100%, 72%);
}

button:nth-child(-n+4){
    background: hsl(208, 25%, 86%);
}